
body{
  height: 100%;
    overflow: hidden;
}
html{
    overflow: hidden;
}
.menu-btn{
position: absolute;
    z-index: auto;
    left: 9px;
    top: 10px;
}
.menu-btn span{
    display: block;
    width: 30px;
    height: 5px;
    background: #20dbbc;
    margin: 3px 0px;
    
}
.menu-btn  p {
    position: absolute;
    top: 2px;
    margin-left: 40px;
    color: rgb(29, 165, 154);
    font-size: 15px;
    
}
.sidebar-sticky{
    background-color: black;
}
#nav-tow{
    background-color: white;
}
#navbar-id{
background-color: rgb(60, 63, 66);
}
#sidebar-id{
    background-color: rgb(51, 51, 59);
}
#content-wrapper{
    background-color: rgba(130, 144, 153, 0.329);
}
#btn-buscar{
    background-color: #20dbbc;
}
#header{
    background-color: rgb(24, 22, 22);
    top: 0;
    position:relative;
}
#header-id{
    background-color: rgb(19, 18, 18);
}
#shart-one{
top: 6px;
}
